@import "global";

nav {
  position: relative;
  display: block;
  width: 100vw;
  height: 100px;
  display: flex;

  label.tgl-btn {
    flex: 1;
    margin: auto 5px;
    height: 100%;
    align-items: center;
    display: flex;
    cursor: pointer;

  $buttonbgColor: #2d2d2d;
  $txtColor: #d2d2d2;
  @include colorize($buttonbgColor, $txtColor);

    input {
     display: none;


     + span {
       position: absolute;
       position: relative;
       text-align: center;
       flex:1;
     }

     &:checked + span {
       text-shadow: 0 1px 0 rgba(255,255,255,0.5);
     }
    }
  }
}
